@media (max-width: 575px) { 
  /**********************************************{HOME}*********************************************/
  #home h1 {
    font-size: 3.5rem;
  }
  /**********************************************{ABOUT}*********************************************/
  #about .box.shadow-lg.m-5 {
    margin: 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /**********************************************{HOME}*********************************************/
  #home h1 {
    font-size: 3rem;
    text-wrap: nowrap;
  }
  /**********************************************{ABOUT}*********************************************/
}
@media (min-width: 768px) and (max-width: 991px) {
  /**********************************************{HOME}*********************************************/
  #home h1 {
    font-size: 3.7rem;
    text-wrap: nowrap;
  }
  /**********************************************{ABOUT}*********************************************/
}
@media (min-width: 992px) and (max-width: 1199px) {
  /**********************************************{HOME}*********************************************/
  #home h1 {
    font-size: 3.7rem;
    text-wrap: nowrap;
  }
  /**********************************************{ABOUT}*********************************************/
}
@media (min-width: 2000px) {
  /**********************************************{HOME}*********************************************/
  #home h1 {
    font-size: 6rem;
    text-wrap: nowrap;
  }
}
